<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <div class="card">
      <div class="card-header">
        Seller: <%= @shop.seller.email %>
      </div>
      <div class="card-body">
        <h5 class="card-title"><%= @shop.name %></h5>
        <p class="card-text">
          <%= @shop.description %>
        </p>
        <p>
          <b><%= @shop.adress %></b>
        </p>
        <%= render "shops/shop_favorite_form" %>
      </div>
    </div>
  </div>
  <% if current_seller && current_seller.id == @shop.seller.id %>
    <div class="d-flex p-2 bd-highlight ">
      <%= link_to 'Edit', edit_shop_path(@shop), class: "btn btn-primary" %> 
      <%= link_to 'Back', shops_path, class: "btn btn-warning ms-1" %>
    </div>
  <% else %>  
  <% end %>
</div>

<%= render "products/product_list" %>



