<p id="notice"><%= notice %></p>
<div class="container">
  <div class="row align-items-start">
    <div class="col-11 border">Seller: <%= @product.seller.username_from_email %></div>
    <div class="col-11 border">Shop: <%= @product.shop.name%></div>
    <div class="col-5 border text-center">
      <img src="https://picsum.photos/id/<%=rand(1...100)%>/300/300" style="box-shadow: 0 13px 27px -5px hsl(240deg 30% 28% / 25%);" class="img-fluid rounded m-3" alt="">
    </div>
    <div class="col-6 border mt-3">
     <h3 class="h3"><%= @product.name %> </h3>
     <p><%= @product.description %></p>

     <p class="orange-400"><%= @product.amount %> TL </p>
      <% if user_signed_in? %>
       <p id="fav-form"><%= render "products/product_favorite", product_id: @product.id%></p>
     <% elsif seller_signed_in? %>  
       <p>You are a seller.🥲 
      <% else %>
       <p>Do you like it?🥲 <%= link_to "SignIn", new_user_session_path %> and add the product to favorite list</p>  
     <% end %>
     <% if current_seller == @product.seller %>
      <%= link_to 'Edit', edit_product_path(@product) %> |
     <% end %>
     <%= link_to 'Back', products_path %>
    </div>
  </div>
</div>



